@model ExamFinalASPNETCOREMVC.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h1>Add Product</h1>

<form asp-controller="Product" asp-action="Add" method="post" class="mb-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Name" class="col-md-2 col-form-label">Name:</label>
        <div class="col-md-6">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Description" class="col-md-2 col-form-label">Description:</label>
        <div class="col-md-6">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Price" class="col-md-2 col-form-label">Price:</label>
        <div class="col-md-6">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 offset-md-2">
            <input type="submit" value="Add" class="btn btn-success btn-block" />
        </div>
    </div>
</form>

<h1>Edit Product</h1>

<!-- Form to input the product ID -->
<form asp-controller="Product" asp-action="Edit" method="get" class="mb-4">
    <div class="form-group row">
        <label for="productId" class="col-md-2 col-form-label">Enter Product ID:</label>
        <div class="col-md-6">
            <input type="text" id="productId" name="id" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 offset-md-2">
            <input type="submit" value="Edit" class="btn btn-secondary" />
        </div>
    </div>
</form>

@if (Model != null)
{
    <!-- Form to edit the existing product -->
    <form asp-controller="Product" asp-action="Edit" method="post" class="mb-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group row">
            <label asp-for="Name" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-md-2 col-form-label">Description:</label>
            <div class="col-md-6">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-md-2 col-form-label">Price:</label>
            <div class="col-md-6">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 offset-md-2">
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-6 offset-md-2">
                <!-- Add the delete button -->
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>
    </form>
}