@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Final Microsoft webapp using MVC structure made by Garrett Thompson and Logan Miller.</p>
</div>
